.df {
  box-shadow: 0px 1px 7px 0px rgb(134, 134, 134);
  max-width: 54rem;
  width: 100%;
  min-width: 20rem;
}

.moveTop {
  animation: toTop 0.3s linear 1 forwards;
  position: absolute;
}

.moveDown {
  animation: toDown 0.3s linear 1 forwards;
  position: absolute;
}

.searchIncrease {
  width: 6.5rem;
  align-items: center;
  justify-content: space-around;
}

@keyframes toTop {
  from {
    transform: translate(0px, 0px);
    height: 4rem;
  }

  to {
    width: 25rem;
    transform: translate(-5rem, -30px);
    height: 3rem;
  }
}

@keyframes toDown {
  from {
    transform: translate(-5rem, -90px);
    height: 3rem;
  }

  to {
    width: 100%;
    max-width: 54rem;
    transform: translateY(0px, 0px);
    height: 4rem;
  }
}

.ripple-btn .ripple {
  position: absolute;
  background: white;
  opacity: 1;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-solid 1.5s ease-out;
  pointer-events: none;
  z-index: 10;
}

@keyframes ripple-solid {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

input::placeholder {
  color: rgb(116, 116, 116);
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
}

input {
  font-weight: 500;
}

button:hover+div {
  visibility: hidden;
}

::placeholder,
.bla {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.custom-ripple {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: white;
  opacity: 0.9;
  border-radius: 1rem;
  transform: scale(0.8);
  animation: ripple-grow 0.4s ease-out forwards;
  pointer-events: none;
  z-index: 0;
}


@media(max-width:925px) {
  .bla {
    width: 90vw;
    padding: 1rem;
    padding-top: 2rem;
    left: 1rem;
    border-radius: 3rem;
    height: 28rem;
  }

  .bla>div {
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
  }

  .bla button {
    margin: 0.6vw;
    font-weight: 600;
  }

  .bla .rdp-head tr {
    margin-left: 5px;
    margin-top: 1rem;
  }

  .bla .rdp-head tr th {
    /* background-color: red; */
    margin-right: 1.1vw;
    color: rgb(113, 113, 113);
    font-weight: 500;
  }
}

@media(min-width:925px) {
  .bla {
    box-shadow: 0px 1px 15px rgb(149, 149, 149);
    height: 33rem;
    padding: 0px;
    width: 54rem;
  }

  .bla th {
    margin: 0.6rem;
    margin-right: 0.8rem;
    font-weight: 600;
  }

  .bla button {
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    margin: 0.2rem;
  }

  .bla>div {
    width: 88%;
    height: fit-content;
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: space-between;
  }
}



/* Add responsive styles */
@media screen and (max-width: 56rem) {
  .df {
    width: 95%;
    margin: 0 auto;
  }

  .moveTop {
    width: 25rem !important;
  }

  .moveDown {
    width: 95% !important;
  }
}

@media screen and (max-width: 40rem) {
  .df {
    width: 90%;
  }

  .moveTop {
    width: 20rem !important;
  }

  .moveDown {
    width: 90% !important;
  }
}