@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.reservePara {
    font-family: "Electrolize", sans-serif;
    font-weight: 900;
    font-size: 0.7rem;
    margin-bottom: -5px;
}