.card {
    width: calc((100% / 7) - 1rem);
    margin-right: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    /* height: 11.3vw; */
}


@media (min-width: 745px) {
  .card{
    width: calc((100% / 4) - 1rem);
    min-height: 10rem;
  }
  .showImg{
    height: 20vw;
  }
}

@media (min-width: 963px) {
  .card{
    width: calc((100% / 5) - 1rem);
    min-height: 10rem;
  }
  .showImg{
    height: 17vw;
  }
}

@media (min-width: 1150px) {
  .card{
    width: calc((100% / 6) - 1rem);
    min-height: 10rem;
  }
  .showImg{
    height: 14vw;
  }
}

@media (min-width: 1300px) {
  .card{
    width: calc((100% / 7) - 1rem);
    min-height: 10rem;
  }
  .showImg{
    height: 12vw;
  }
}